@model OnHub.Web.Models.SearchFeedViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Read", "Home", FormMethod.Post))
{
    <label>Feed URL:</label>
    @Html.TextBoxFor(x => x.FeedUrl)
    <input id="feedUrlText" type="submit" />
}
@if (this.Model.Feed != null)
{
    <label>@this.Model.Feed.Name</label>
}